#loginIMG {
    width: 200px;
    padding-bottom: 40px;
}

#bodyLogin {
    background-color: #04448c;
}

#h1Login {
    color: whitesmoke;
    padding-bottom: 5px;
    font-family: "Viking";
}

#centrador {
    display: flex;
    justify-content: center;
}
.navbar {
    margin: 0 auto;
    display: table !important;
    text-align: center;
    
    
}
#blanco{
    color: white;
}
#azul{
    background-color: #04448c;
}

#logoHeader{ 
    width: 80px;
    align-items: center;
}


.imagenCabecera{
    width: 50px ;
    height: 50px ;
}

footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}
