/* region index */
#loginIMG {
    width: 200px;
    padding-bottom: 40px;
}

#bodyLogin {
    background-color: #04448c;
}

#h1Login {
    color: whitesmoke;
    padding-bottom: 5px;
    font-family: "Viking";
}

#centrador {
    display: flex;
    justify-content: center;
}
/* fin region index */

.navbar {
    margin: 0 auto;
    display: table !important;
    text-align: center;
    
    
}
#blanco{
    color: white;
}
#azul{
    background-color: #04448c;
}

#logoHeader{ 
    width: 80px;
    align-items: center;
}


.imagenCabecera{
    width: 50px ;
    height: 50px ;
}

footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

/* #descon{
  float: right;
} */



/* region Carousel */
.carousel-inner img {
  max-height: 600px; /* establece la altura máxima en 500px */
}

.carousel-item{
  height: 32rem; /*512px*/
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.carousel-item img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* fin region Carousel */


/* Mapa y datos aso */
#datoAso{
  height: 350px;
  font-size: 1.1em;
}

#mapaDatos{
  background-image: url("./img/joven50.png");
  background-repeat: no-repeat; 
  background-size: cover;
  /* color: #074e9e; */
  /* color: #e029e6; */

}
/* fin Mapa y datos aso */



/* Region Cronometro */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #bodyCrono{
    display: grid;
    place-items: end;
    align-content: space-between;
}
  #sectionCrono {
    width: 557px;
    /* min-height: 100vh; */
    display: flex;
    align-items: end;
    justify-content: center;
    /* flex-direction: column; */
    background-color: #333;
    border-radius: 40px;
  }

  .countdown {
    display: flex;
    justify-content: space-evenly;
    /* width: 50%; */
    flex-wrap: wrap;
  }

  .countdown div {
    display: grid;
    place-items: center;
    padding: 10px;
  }

  .pCrono {
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #357ccc;
  }

  .spanCrono {
    display: block;
    padding: 10px;
    text-align: center;
    color: #dff0ed;
    font-size: 1.5rem;
    font-weight: 400;
  }
/* Fin region cronometro */